@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  background-color: beige;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.value-css {
  width: 95%;
}

.area {
  width: 100%;
  height: 200px;
}
