<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formularios</title>

    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>

      <form @submit.prevent="handleSubmit()">
        <input type="text" placeholder="Nombre" v-model.trim="datos.name" />
        <input type="number" v-model.number="datos.age" min="15" max="100" />

        <hr />
        <h2>Lenguajes Favoritos</h2>

        <input type="checkbox" id="js" value="js" v-model="datos.langs" />
        <label for="js">JavaScript</label>

        <input type="checkbox" id="php" value="php" v-model="datos.langs" />
        <label for="php">PHP</label>

        <input type="checkbox" id="py" value="py" v-model="datos.langs" />
        <label for="py">Python</label>

        <h2>Genero</h2>
        <input type="radio" id="hombre" value="m" v-model="datos.gener" />
        <label for="hombre">Hombre</label>

        <input type="radio" id="mujer" value="f" v-model="datos.gener" />
        <label for="mujer">Mujer</label>

        <hr />

        <input type="submit" />
      </form>
    </div>

    <script src="./js/main.js"></script>
    <script src="./js/mountApp.js"></script>
  </body>
</html>
